{% load staticfiles %}

<!doctype html>

<html lang="en">

  <head>
    <link rel="shortcut icon" href="{% static 'image/cake.png'%}"/>
    <title> Cake </title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">

    <!-- W3 CSS -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <!-- CSS by Cake -->
    <link href="{% static 'css/cake.css' %}" rel="stylesheet" type="text/css">

    <!-- Select2 -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />

    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <!-- Current Ratio Graph (Liquidity Ratio) -->
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
           ['Company Name', 'Current Ratio',{ role: 'style' }, 'Threshold',{ role: 'style' } ],
           {% for companyfilter in companyfilter %}
           ['{{ companyfilter.company.company_name }}',{{ companyfilter.current_ratio }},{% if companyfilter.current_ratio > 100 %} '#4DCC00' {% else %} '#F40000' {% endif %}, 100,'#00DEFD'],
           {% endfor %}
        ])
        data.addRows(5);;
        var options = {'title':'CURRENT RATIO (%)',
                       'height':500,
                       'vAxis': {title: '(%)', viewWindow: {min: -500,max: 500},},
                       'hAxis': {title: 'Company Name', viewWindow: {min: 0,max: {{companyfilter.count }}, },},
                       'legend': {position:'none'},
                       'series': {1: {type: 'line'}}};
        var chart = new google.visualization.ColumnChart(document.getElementById('current_ratio_graph'));
        chart.draw(data, options);
      }
    </script>

    <!-- Debt to Equity Ratio (Solvability Ratio) -->
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
           ['Company Name', 'Debt to Equity Ratio',{ role: 'style' }, 'Threshold',{ role: 'style' } ],
           {% for companyfilter in companyfilter %}
           ['{{ companyfilter.company.company_name }}',{{ companyfilter.debt_to_equity }},{% if companyfilter.debt_to_equity < 100 %} '#4DCC00' {% else %} '#F40000' {% endif %}, 100,'#00DEFD'],
           {% endfor %}
        ])
        data.addRows(5);;
        var options = {'title':'DEBT TO EQUITY RATIO (%)',
                       'height':500,
                       'vAxis': {title: '(%)',viewWindow: {min: -300,max: 300}},
                       'hAxis': {title: 'Company Name',  viewWindow: {min: 0,max: {{companyfilter.count }}}},
                       'legend': {position:'none'},
                       'series': {1: {type: 'line'}}};
        var chart = new google.visualization.ColumnChart(document.getElementById('debt_to_equity_ratio_graph'));
        chart.draw(data, options);
      }
    </script>

    <!-- Return on Equity (Profitability Ratio ) -->
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
           ['Company Name', 'Return on Equity',{ role: 'style' }, 'Threshold',{ role: 'style' } ],
           {% for companyfilter in companyfilter %}
           ['{{ companyfilter.company.company_name }}',{{ companyfilter.return_on_equity }},{% if companyfilter.return_on_equity > 13 %} '#4DCC00' {% else %} '#F40000' {% endif %}, 13,'#00DEFD'],
           {% endfor %}
        ])
        data.addRows(5);;
        var options = {'title':'RETURN ON EQUITY (%)',
                       'height':500,
                       'vAxis': {title: '(%)', viewWindow: {min: -50,max: 50}},
                       'hAxis': {title: 'Company Name', viewWindow: {min: 0,max: {{companyfilter.count }}}},
                       'legend': {position:'none'},
                       'series': {1: {type: 'line'}}};
        var chart = new google.visualization.ColumnChart(document.getElementById('return_on_equity_graph'));
        chart.draw(data, options);
      }
    </script>

    <!-- Operating Profit Margin (Profitability Ratio ) -->
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
           ['Company Name', 'Operating Profit Margin',{ role: 'style' }, 'Threshold',{ role: 'style' } ],
           {% for companyfilter in companyfilter %}
           ['{{ companyfilter.company.company_name }}',{{ companyfilter.operating_profit_margin }},{% if companyfilter.operating_profit_margin > 30 %} '#4DCC00' {% else %} '#F40000' {% endif %}, 30,'#00DEFD'],
           {% endfor %}
        ])
        data.addRows(5);;
        var options = {'title':'OPERATING PROFIT MARGIN (%)',
                       'height':500,
                       'vAxis': {title: '(%)',viewWindow: {min: -100,max: 100}},
                       'hAxis': {title: 'Company Name', viewWindow: {min: 0,max: {{companyfilter.count }}}},
                       'legend': {position:'none'},
                       'series': {1: {type: 'line'}}};
        var chart = new google.visualization.ColumnChart(document.getElementById('operating_profit_margin_graph'));
        chart.draw(data, options);
      }
    </script>

    <!-- Net Profit Margin (Profitability Ratio ) -->
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
           ['Company Name', 'Net Profit Margin',{ role: 'style' }, 'Threshold',{ role: 'style' } ],
           {% for companyfilter in companyfilter %}
           ['{{ companyfilter.company.company_name }}',{{ companyfilter.net_profit_margin }},{% if companyfilter.net_profit_margin > 10 %} '#4DCC00' {% else %} '#F40000' {% endif %}, 10,'#00DEFD'],
           {% endfor %}
        ])
        data.addRows(5);;
        var options = {'title':'NET PROFIT MARGIN (%)',
                       'height':500,
                       'vAxis': {title: '(%)', viewWindow: {min: -50,max: 50}},
                       'hAxis': {title: 'Company Name', viewWindow: {min: 0,max: {{companyfilter.count }}}},
                       'legend': {position:'none'},
                       'series': {1: {type: 'line'}}};
        var chart = new google.visualization.ColumnChart(document.getElementById('net_profit_margin_graph'));
        chart.draw(data, options);
      }
    </script>

    <!-- Price Earning Ratio (Market Ratio) -->
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
           ['Company Name', 'Price Earning Ratio',{ role: 'style' }, 'Threshold',{ role: 'style' } ],
           {% for companyfilter in companyfilter %}
           ['{{ companyfilter.company.company_name }}',{{ companyfilter.price_earning_ratio }},{% if companyfilter.price_earning_ratio < 15 %} '#4DCC00' {% else %} '#F40000' {% endif %}, 15,'#00DEFD'],
           {% endfor %}
        ])
        data.addRows(5);;
        var options = {'title':'PRICE EARNING RATIO',
                       'height':500,
                       'vAxis': {title: 'Ratio', viewWindow: {min: -200,max: 200}},
                       'hAxis': {title: 'Company Name', viewWindow: {min: 0,max: {{companyfilter.count }}}},
                       'legend': {position:'none'},
                       'series': {1: {type: 'line'}}};
        var chart = new google.visualization.ColumnChart(document.getElementById('price_earning_ratio_graph'));
        chart.draw(data, options);
      }
    </script>

    <!-- Dividend Yield (Market Ratio)-->
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
           ['Company Name', 'Dividend Yield',{ role: 'style' },'Threshold',{ role: 'style' }],
           {% for companyfilter in companyfilter %}
           ['{{ companyfilter.company.company_name }}',{{ companyfilter.dividend_yield }}, {% if companyfilter.dividend_yield > 3 %} '#4DCC00' {% else %} '#F40000' {% endif %}, 3,'#00DEFD'],
           {% endfor %}
        ])
        data.addRows(5);;
        var options = {'title':'DIVIDEND YIELD (%)',
                       'height':500,
                       'vAxis': {title: '(%)', viewWindow: {min: -5,max: 5}},
                       'hAxis': {title: 'Company Name', viewWindow: {min: 0,max: {{companyfilter.count }}}},
                       'legend': {position:'none'},
                       'series': {1: {type: 'line'}}};
        var chart = new google.visualization.ColumnChart(document.getElementById('dividend_yield_graph'));
        chart.draw(data, options);
      }
    </script>

    <style>
      * {
        margin: 0;
        padding: 0;
      }

      html, body {
        height: 100%;
        width: 100%;
      }

      #container {
        min-height: 100%;
      }

      #footer {
        position: relative;
        clear:both;
        background-color:#22a6b3;
        min-height: 150px;
      }

      /* SideNav */
      .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: white;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
      }

      .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 18px;
        color: #989898;
        display: block;
        transition: 0.3s;
      }

      .sidenav a:hover {
        color: #48dbfb;
        font-weight: bold;
        background-color: #F0F0F0;
      }

      .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
      }

      #main {
        transition: margin-left .5s;
        padding: 16px;
      }

      @media screen and (max-height: 450px) {
        .sidenav {padding-top: 15px;}
        .sidenav a {font-size: 18px;}
      }

      #cake-menu{
        background-color: #FFFFFF;
        border-color: #FFFFFF;
        border-width: medium;
        border-radius:5px;;
        color: black;
        font-size: 20px;
        width: 100%;
        height: 100%;
      }

      #cake-menu:hover,
      #cake-menu:focus,
      #cake-menu:active{
        background-color: #46C9B6;
        border-color: #46C9B6;
        color: white;
      }

      /* Popup */
      .popup {
        position: relative;
        display: inline-block;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      .popup .popuptext {
        visibility: hidden;
        width: 250px;
        background-color: #555;
        color: #fff;
        text-align: left;
        border-radius: 6px;
        padding: 8px 0;
        position: absolute;
        z-index: 1;
        bottom: 125%;
        left: 50%;
        margin-left: -80px;
      }

      .popup .popuptext::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #555 transparent transparent transparent;
      }

      .popup .show {
        visibility: visible;
        -webkit-animation: fadeIn 1s;
        animation: fadeIn 1s;
      }

      @-webkit-keyframes fadeIn {
        from {opacity: 0;}
        to {opacity: 1;}
      }

      @keyframes fadeIn {
        from {opacity: 0;}
        to {opacity:1 ;}
      }

      /* Selct2 */
      .select2-selection{
        text-align: left;
      }

      /* Sticky sidebar */
      .wrapper {
        display: flex;
        justify-content: space-between;
      }

      .main,
      .sidebar {
        border-left: 3px solid #f1c40f;
        padding: 15px;
        background-color: white;
      }

      .mainsidebar {
        width: 70%;
        height: 100%;
        background: white;
        border-left: 3px solid #f1c40f;
      }

      .sidebar {
        width: 30%;
        height: 100%;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
      }
    </style>
  </head>

  <body style='background-color:#dcdde1;'>
    <div id="container">

      <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a><img src="{% static 'image/cake.png'%}" width="175" style="text-center"></a>
        <br>
        <h5 style="margin-left:15px; color:#989898;">Navigation</h5>
        <a href="{% url 'main_dashboard_url' %}"><span class="glyphicon glyphicon-home"></span> Dashboard</a>
        <a href="{% url 'company_analysis_url' %}"><span class="glyphicon glyphicon-stats"></span> Analysis Financial Performance</a>
        <a href="{% url 'company_comparison_url' %}"><span class="glyphicon glyphicon-transfer"></span> Comparison Financial Performance</a>
        <a href="{% url 'help_url' %}"><span class="glyphicon glyphicon-question-sign"></span> Help</a>
      </div>

      <div id="main" style="margin: 0; padding: 0;" >
        <div class="row" style="background-color:#48dbfb; margin: 0; padding: 0;" >
          <span style="font-size:50px;cursor:pointer; margin-left:10px; color:white;" onclick="openNav()">&#9776;</span>
        </div>
        {% block content %}

        {% endblock %}
      </div>
    </div>

    <footer id="footer">
      <div class="container-fluid" style="margin:auto">
        <div class="row" style="margin-left:20px;">
          <h4 style="color:#FFFFFF;"><strong>Supported by :</strong></h4>
        </div>
        <div class="row inline-block" style="margin:auto; padding-left:50px; padding-right:50px;">
          <div style="padding:30px; margin:auto"><img src="{% static 'image/idx.png' %}" width="100"></div>
          <div style="padding:30px; margin:auto"><img src="{% static 'image/rii.png' %}" width="100"></div>
          <div style="padding:30px; margin:auto"><img src="{% static 'image/sysa.jpg' %}" width="100"></div>
          <div style="padding:30px; margin:auto"><img src="{% static 'image/yuk_nabung_saham.png' %}" width="100"></div>
          <div style="padding:30px; margin:auto"><img src="{% static 'image/gunadarma.png' %}" width="100"></div>
          <div style="padding:30px; margin:auto"><img src="{% static 'image/galeri_investasi.png' %}" width="100"></div>
          <div style="padding:30px; margin:auto"><img src="{% static 'image/kspm_gunadarma.jpg' %}" width="100"></div>
        </div>
      </div>
    </footer>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- Select2 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

    <!-- Sidenav -->
    <script>
      function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
        document.getElementById("main").style.marginLeft = "250px";
        document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
      }
      function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
        document.getElementById("main").style.marginLeft= "0";
        document.body.style.backgroundColor = "#DBDBE0";
      }
    </script>

    <!-- Select2 -->
    <script>
      $(document).ready(function() {
        $('.js-example-basic-multiple').select2({placeholder: "Search and choose company by name or code or sector", maximumSelectionLength: 4});
      });
      $(document).ready(function() {
        $('.js-example-basic-single').select2({placeholder: "Search and select company by name or code or sector",});
      });
    </script>

    <script>
      function cash_popup() {
        var popup = document.getElementById("cash_info");
        popup.classList.toggle("show");
      }

      function inventory_popup() {
        var popup = document.getElementById("inventory_info");
        popup.classList.toggle("show");
      }

      function current_asset_popup() {
        var popup = document.getElementById("current_asset_info");
        popup.classList.toggle("show");
      }

      function fixed_asset_popup() {
        var popup = document.getElementById("fixed_asset_info");
        popup.classList.toggle("show");
      }

      function total_asset_popup() {
        var popup = document.getElementById("total_asset_info");
        popup.classList.toggle("show");
      }

      function current_liabilities_popup() {
        var popup = document.getElementById("current_liabilities_info");
        popup.classList.toggle("show");
      }

      function long_term_liabilities_popup() {
        var popup = document.getElementById("long_term_liabilities_info");
        popup.classList.toggle("show");
      }

      function total_liabilities_popup() {
        var popup = document.getElementById("total_liabilities_info");
        popup.classList.toggle("show");
      }

      function outstanding_share_popup() {
        var popup = document.getElementById("outstanding_share_info");
        popup.classList.toggle("show");
      }

      function total_equity_popup() {
        var popup = document.getElementById("total_equity_info");
        popup.classList.toggle("show");
      }

      function total_revenue_popup() {
        var popup = document.getElementById("total_revenue_info");
        popup.classList.toggle("show");
      }

      function gross_profit_popup() {
        var popup = document.getElementById("gross_profit_info");
        popup.classList.toggle("show");
      }

      function operating_profit_popup() {
        var popup = document.getElementById("operating_profit_info");
        popup.classList.toggle("show");
      }

      function interest_expense_popup() {
        var popup = document.getElementById("interest_expense_info");
        popup.classList.toggle("show");
      }

      function net_profit_popup() {
        var popup = document.getElementById("net_profit_info");
        popup.classList.toggle("show");
      }

      function earnings_per_share_popup() {
        var popup = document.getElementById("earnings_per_share_info");
        popup.classList.toggle("show");
      }

      function dividend_payment_popup() {
        var popup = document.getElementById("dividend_payment_info");
        popup.classList.toggle("show");
      }

      function stock_price_popup() {
        var popup = document.getElementById("stock_price_info");
        popup.classList.toggle("show");
      }

      // Liquidity Ratio
      function liquidity_ratio_popup() {
        var popup = document.getElementById("liquidity_ratio_info");
        popup.classList.toggle("show");
      }

      function cash_ratio_popup() {
        var popup = document.getElementById("cash_ratio_info");
        popup.classList.toggle("show");
      }

      function quick_acid_ratio_popup() {
        var popup = document.getElementById("quick_acid_ratio_info");
        popup.classList.toggle("show");
      }

      function current_ratio_popup() {
        var popup = document.getElementById("current_ratio_info");
        popup.classList.toggle("show");
      }

      // Solvability Ratio
      function solvability_ratio_popup() {
        var popup = document.getElementById("solvability_ratio_info");
        popup.classList.toggle("show");
      }

      function debt_to_asset_popup() {
        var popup = document.getElementById("debt_to_asset_info");
        popup.classList.toggle("show");
      }

      function debt_to_equity_popup() {
        var popup = document.getElementById("debt_to_equity_info");
        popup.classList.toggle("show");
      }

      function long_term_debt_to_equity_popup() {
        var popup = document.getElementById("long_term_debt_to_equity_info");
        popup.classList.toggle("show");
      }

      function coverage_ratio_popup() {
        var popup = document.getElementById("coverage_ratio_info");
        popup.classList.toggle("show");
      }

      // Profitability Ratio
      function profitability_ratio_popup() {
        var popup = document.getElementById("profitability_ratio_info");
        popup.classList.toggle("show");
      }

      function return_on_equity_popup() {
        var popup = document.getElementById("return_on_equity_info");
        popup.classList.toggle("show");
      }

      function return_on_asset_popup() {
        var popup = document.getElementById("return_on_asset_info");
        popup.classList.toggle("show");
      }

      function gross_profit_margin_popup() {
        var popup = document.getElementById("gross_profit_margin_info");
        popup.classList.toggle("show");
      }

      function operating_profit_margin_popup() {
        var popup = document.getElementById("operating_profit_margin_info");
        popup.classList.toggle("show");
      }

      function net_profit_margin_popup() {
        var popup = document.getElementById("net_profit_margin_info");
        popup.classList.toggle("show");
      }

      // Market Ratio
      function market_ratio_popup() {
        var popup = document.getElementById("market_ratio_info");
        popup.classList.toggle("show");
      }

      function price_earning_ratio_popup() {
        var popup = document.getElementById("price_earning_ratio_info");
        popup.classList.toggle("show");
      }

      function price_to_book_value_popup() {
        var popup = document.getElementById("price_to_book_value_info");
        popup.classList.toggle("show");
      }

      function dividend_per_share_popup() {
        var popup = document.getElementById("dividend_per_share_info");
        popup.classList.toggle("show");
      }

      function dividend_yield_popup() {
        var popup = document.getElementById("dividend_yield_info");
        popup.classList.toggle("show");
      }

      function dividend_payout_ratio_popup() {
        var popup = document.getElementById("dividend_payout_ratio_info");
        popup.classList.toggle("show");
      }

      // Turnover Ratio
      function turnover_ratio_popup() {
        var popup = document.getElementById("turnover_ratio_info");
        popup.classList.toggle("show");
      }

      function total_asset_turnover_popup() {
        var popup = document.getElementById("total_asset_turnover_info");
        popup.classList.toggle("show");
      }

      function working_capital_turnover_popup() {
        var popup = document.getElementById("working_capital_turnover_info");
        popup.classList.toggle("show");
      }

      function fixed_asset_turnover_popup() {
        var popup = document.getElementById("fixed_asset_turnover_info");
        popup.classList.toggle("show");
      }

      function inventory_turnover_popup() {
        var popup = document.getElementById("inventory_turnover_info");
        popup.classList.toggle("show");
      }


      // Information Good or Not Good
      function cash_ratio_good_popup() {
        var popup = document.getElementById("cash_ratio_good_info");
        popup.classList.toggle("show");
      }

      function cash_ratio_not_good_popup() {
        var popup = document.getElementById("cash_ratio_not_good_info");
        popup.classList.toggle("show");
      }

      function quick_acid_ratio_good_popup() {
        var popup = document.getElementById("quick_acid_ratio_good_info");
        popup.classList.toggle("show");
      }

      function quick_acid_ratio_not_good_popup() {
        var popup = document.getElementById("quick_acid_ratio_not_good_info");
        popup.classList.toggle("show");
      }

      function current_ratio_good_popup() {
        var popup = document.getElementById("current_ratio_good_info");
        popup.classList.toggle("show");
      }

      function current_ratio_not_good_popup() {
        var popup = document.getElementById("current_ratio_not_good_info");
        popup.classList.toggle("show");
      }

      // Solvability Ratio
      function debt_to_asset_good_popup() {
        var popup = document.getElementById("debt_to_asset_good_info");
        popup.classList.toggle("show");
      }

      function debt_to_asset_not_good_popup() {
        var popup = document.getElementById("debt_to_asset_not_good_info");
        popup.classList.toggle("show");
      }

      function debt_to_equity_good_popup() {
        var popup = document.getElementById("debt_to_equity_good_info");
        popup.classList.toggle("show");
      }

      function debt_to_equity_not_good_popup() {
        var popup = document.getElementById("debt_to_equity_not_good_info");
        popup.classList.toggle("show");
      }

      function long_term_debt_to_equity_good_popup() {
        var popup = document.getElementById("long_term_debt_to_equity_good_info");
        popup.classList.toggle("show");
      }

      function long_term_debt_to_equity_not_good_popup() {
        var popup = document.getElementById("long_term_debt_to_equity_not_good_info");
        popup.classList.toggle("show");
      }

      function coverage_ratio_good_popup() {
        var popup = document.getElementById("coverage_ratio_good_info");
        popup.classList.toggle("show");
      }

      function coverage_ratio_not_good_popup() {
        var popup = document.getElementById("coverage_ratio_not_good_info");
        popup.classList.toggle("show");
      }

      // Profitability Ratio
      function return_on_equity_good_popup() {
        var popup = document.getElementById("return_on_equity_good_info");
        popup.classList.toggle("show");
      }

      function return_on_equity_not_good_popup() {
        var popup = document.getElementById("return_on_equity_not_good_info");
        popup.classList.toggle("show");
      }

      function return_on_asset_good_popup() {
        var popup = document.getElementById("return_on_asset_good_info");
        popup.classList.toggle("show");
      }

      function return_on_asset_not_good_popup() {
        var popup = document.getElementById("return_on_asset_not_good_info");
        popup.classList.toggle("show");
      }

      function gross_profit_margin_good_popup() {
        var popup = document.getElementById("gross_profit_margin_good_info");
        popup.classList.toggle("show");
      }

      function gross_profit_margin_not_good_popup() {
        var popup = document.getElementById("gross_profit_margin_not_good_info");
        popup.classList.toggle("show");
      }

      function operating_profit_margin_good_popup() {
        var popup = document.getElementById("operating_profit_margin_good_info");
        popup.classList.toggle("show");
      }

      function operating_profit_margin_not_good_popup() {
        var popup = document.getElementById("operating_profit_margin_not_good_info");
        popup.classList.toggle("show");
      }

      function net_profit_margin_good_popup() {
        var popup = document.getElementById("net_profit_margin_good_info");
        popup.classList.toggle("show");
      }

      function net_profit_margin_not_good_popup() {
        var popup = document.getElementById("net_profit_margin_not_good_info");
        popup.classList.toggle("show");
      }

      // Market Ratio
      function price_earning_ratio_good_popup() {
        var popup = document.getElementById("price_earning_ratio_good_info");
        popup.classList.toggle("show");
      }

      function price_earning_ratio_not_good_popup() {
        var popup = document.getElementById("price_earning_ratio_not_good_info");
        popup.classList.toggle("show");
      }

      function price_to_book_value_good_popup() {
        var popup = document.getElementById("price_to_book_value_good_info");
        popup.classList.toggle("show");
      }

      function price_to_book_value_not_good_popup() {
        var popup = document.getElementById("price_to_book_value_not_good_info");
        popup.classList.toggle("show");
      }

      function dividend_yield_good_popup() {
        var popup = document.getElementById("dividend_yield_good_info");
        popup.classList.toggle("show");
      }

      function dividend_yield_not_good_popup() {
        var popup = document.getElementById("dividend_yield_not_good_info");
        popup.classList.toggle("show");
      }

      function dividend_payout_ratio_good_popup() {
        var popup = document.getElementById("dividend_payout_ratio_good_info");
        popup.classList.toggle("show");
      }

      function dividend_payout_ratio_not_good_popup() {
        var popup = document.getElementById("dividend_payout_ratio_not_good_info");
        popup.classList.toggle("show");
      }
    </script>

  </body>

</html>
