{% extends 'financialperformance/base.html' %}

{% block content %}

<div class="container-fluid" style="margin-bottom:50px;">

  <div style="margin-top:20px; margin-left:20px; margin-right:20px;">

    <h2 style="width:bold; color:black">Analysis Financial Performance</h2>
    <h3 style="color:#535B68">The Following is the level of performance of a bussiness over a specified period of time</h3>

    <div class="row text-center" style="margin-top:10px; padding:0.9%">
      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
      <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding:0px; margin:0px;">
        <form method="GET" action="{% url 'company_analysis_url' %}">
          <select class="js-example-basic-single js-states form-control" name="q" style="width:70%;">
            <option></option>
            {% for financialdata in financialdata %}
              <option value="{{ financialdata.company.company_code }}">{{ financialdata.company.company_name }} ({{ financialdata.company.company_code }}) - {{ financialdata.company.company_sector.sector_name }}</option>
            {% endfor%}
          </select>
          <button class="btn-save btn btn-primary btn-sm">Analyze</button>
        </form>
      </div>
      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>

    <div class="row text-center" style="margin-top:30px;">
      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
      <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
        <div style="width:100%; height:100%; border:2px solid white; background-color:white; border-radius: 5px; padding:2%">
          <h4 style="margin-bottom:30px;">Financial performance of {{ companyfilter.company.company_name }} 2017</h4>
          <div class="row" style="padding-left:2%; padding-right:2%">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <div class="row" style="padding:1%">
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" style="text-align:left"><div class="popup" onclick="cash_popup()">Cash<span class="popuptext" id="cash_info" style="padding:20%">Cash consists of cash and checking account balances. Cash equivalents are liquid, short-term investments and can quickly be made as cash in a specified amount and subject to insignificant value changes (SFAS, No. 2)..</span></div></div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12"><div style="background-color:#DBDBE0; color:#DBDBE0">.</div></div>
              </div>
              <div class="row" style="padding:1%">
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" style="text-align:left"><div class="popup" onclick="inventory_popup()">Inventory<span class="popuptext" id="inventory_info" style="padding:20%">Assets available for sale in the ordinary course of business, in the production process, and / or in transit or in the form of materials or equipment for use in the production or service process (SFAS, No. 14).</span></div></div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12"><div style="background-color:#DBDBE0; color:#DBDBE0">.</div></div>
              </div>
              <div class="row" style="padding:1%">
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" style="text-align:left"><div class="popup" onclick="current_asset_popup()">Current Asset<span class="popuptext" id="current_asset_info" style="padding:20%">Cash and other assets that can be expected to be cashed or convertible into cash, sold or consumed in subsequent periods (Munawir, 2002).</span></div></div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12"><div style="background-color:#DBDBE0; color:#DBDBE0">.</div></div>
              </div>
              <div class="row" style="padding:1%">
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" style="text-align:left"><div class="popup" onclick="fixed_asset_popup()">Fixed Asset<span class="popuptext" id="fixed_asset_info" style="padding:20%">Tangible assets which are estimated to be used for more than one period and held for use in the production or supply of goods for services, to be lent to other parties, for administrative purposes (SFAS, No. 16).</span></div></div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12"><div style="background-color:#DBDBE0; color:#DBDBE0">.</div></div>
              </div>
              <div class="row" style="padding:1%">
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" style="text-align:left"><div class="popup" onclick="total_asset_popup()">Total Asset<span class="popuptext" id="total_asset_info" style="padding:20%">The aggregate sum of the company’s assets consisting of fixed assets, current assets, and other assets, which are in balance with total liabilities and equity (Margaretha, 2003).</span></div></div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12"><div style="background-color:#DBDBE0; color:#DBDBE0">.</div></div>
              </div>
              <div class="row" style="padding:1%">
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" style="text-align:left"><div class="popup" onclick="current_liabilities_popup()">Current Liabilities<span class="popuptext" id="current_liabilities_info" style="padding:20%">The financial liabilities of the repaying company or the payment will be made in the short-term (less than 1 year) using current assets owned by the company (Munawir, 2002).</span></div></div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12"><div style="background-color:#DBDBE0; color:#DBDBE0">.</div></div>
              </div>
              <div class="row" style="padding:1%">
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" style="text-align:left"><div class="popup" onclick="long_term_liabilities_popup()">Long Term Liabilities<span class="popuptext" id="long_term_liabilities_info" style="padding:20%">Long Term Liabilities is</span></div></div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12"><div style="background-color:#DBDBE0; color:#DBDBE0">.</div></div>
              </div>
              <div class="row" style="padding:1%">
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" style="text-align:left"><div class="popup" onclick="total_liabilities_popup()">Total Liabilities<span class="popuptext" id="total_liabilities_info" style="padding:20%">The current obligations arising from past events whose settlement resulted in an outflow of entity resources containing economic benefits (SFAS, No. 57).</span></div></div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12"><div style="background-color:#DBDBE0; color:#DBDBE0">.</div></div>
              </div>
              <div class="row" style="padding:1%">
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" style="text-align:left"><div class="popup" onclick="outstanding_share_popup()">Outstanding Share<span class="popuptext" id="outstanding_share_info" style="padding:20%">Number of outstanding shares issued by the company and owned by investors, both institutions and individuals.</span></div></div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12"><div style="background-color:#DBDBE0; color:#DBDBE0">.</div></div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <div class="row" style="padding:1%">
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" style="text-align:left"><div class="popup" onclick="total_equity_popup()">Total Equity<span class="popuptext" id="total_equity_info" style="padding:20%">Residual rights to the entity’s assets after being deducted by all liabilities (SFAS 2002, Article 49).</span></div></div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12"><div style="background-color:#DBDBE0; color:#DBDBE0">.</div></div>
              </div>
              <div class="row" style="padding:1%">
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" style="text-align:left"><div class="popup" onclick="total_revenue_popup()">Total Revenue<span class="popuptext" id="total_revenue_info" style="padding:20%">Gross inflows of economic benefits arising from the normal activities of a company during a period if such inflows result in an increase in equity, which does not originate from an investor’s contribution  (SFAS No. 23).</span></div></div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12"><div style="background-color:#DBDBE0; color:#DBDBE0">.</div></div>
              </div>
              <div class="row" style="padding:1%">
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" style="text-align:left"><div class="popup" onclick="gross_profit_popup()">Gross Profit<span class="popuptext" id="gross_profit_info" style="padding:20%">Profit earned before deducting expenses incurred by the company. That is, the company’s first overall profit once acquired (Kasmir, 2011).</span></div></div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12"><div style="background-color:#DBDBE0; color:#DBDBE0">.</div></div>
              </div>
              <div class="row" style="padding:1%">
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" style="text-align:left"><div class="popup" onclick="operating_profit_popup()">Operating Profit<span class="popuptext" id="operating_profit_info" style="padding:20%">Operating profit is determined by subtracting operating expenses from gross profit (Warren, et al. 2006).</span></div></div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12"><div style="background-color:#DBDBE0; color:#DBDBE0">.</div></div>
              </div>
              <div class="row" style="padding:1%">
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" style="text-align:left"><div class="popup" onclick="interest_expense_popup()">Interest Expense<span class="popuptext" id="interest_expense_info" style="padding:20%">Costs incurred by borrowing money at the Bank subject to interest.</span></div></div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12"><div style="background-color:#DBDBE0; color:#DBDBE0">.</div></div>
              </div>
              <div class="row" style="padding:1%">
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" style="text-align:left"><div class="popup" onclick="net_profit_popup()">Net Profit<span class="popuptext" id="net_profit_info" style="padding:20%">Earnings that have been deducted from expenses incurred by the company in a certain period, including taxes (Kasmir, 2011).</span></div></div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12"><div style="background-color:#DBDBE0; color:#DBDBE0">.</div></div>
              </div>
              <div class="row" style="padding:1%">
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" style="text-align:left"><div class="popup" onclick="earnings_per_share_popup()">Earning per Share<span class="popuptext" id="earnings_per_share_info" style="padding:20%">Earning per Share is</span></div></div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12"><div style="background-color:#DBDBE0; color:#DBDBE0">.</div></div>
              </div>
              <div class="row" style="padding:1%">
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" style="text-align:left"><div class="popup" onclick="dividend_payment_popup()">Dividend Payment<span class="popuptext" id="dividend_payment_info" style="padding:20%">Dividend Payment is</span></div></div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12"><div style="background-color:#DBDBE0; color:#DBDBE0">.</div></div>
              </div>
              <div class="row" style="padding:1%">
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" style="text-align:left"><div class="popup" onclick="stock_price_popup()">Stock Price<span class="popuptext" id="stock_price_info" style="padding:20%">The price of a stock occurring in stock market at a given moment determined by the market participant and determined by the demand and supply of the relevant shares in capital market (Jogiyanto, 2008).</span></div></div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12"><div style="background-color:#DBDBE0; color:#DBDBE0">.</div></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>

    <div class="row text-center" style="margin-top:30px;">
      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
      <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div style="width:100%; height:100%; border:2px solid white; background-color:white; border-radius: 5px; padding:2%">
              <h4 style="margin-bottom:20px;"><div class="popup" onclick="liquidity_ratio_popup()">Liquidity Ratio<span class="popuptext" id="liquidity_ratio_info" style="padding:20%">A ratio that indicates a company’s ability to meet its obligations or pay its short-term debt.</span></h4>
              <div class="row" style="padding:1%">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="text-align:left"><div class="popup" onclick="cash_ratio_popup()">Cash Ratio<span class="popuptext" id="cash_ratio_info" style="padding:20%">Cash Ratio is used to compare the total cash and cash equivalents of the company with its current liabilities.</span></div></div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"><div style="background-color:#DBDBE0; color:#DBDBE0">.</div></div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
              </div>
              <div class="row" style="padding:1%">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="text-align:left"><div class="popup" onclick="quick_acid_ratio_popup()">Quick Acid Ratio<span class="popuptext" id="quick_acid_ratio_info" style="padding:20%">The ratio used to measure a company’s ability to meet its short-term debt is soon due by using its current assets (cash, short-term securities and receivables).</span></div></div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"><div style="background-color:#DBDBE0; color:#DBDBE0">.</div></div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
              </div>
              <div class="row" style="padding:1%">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="text-align:left"><div class="popup" onclick="current_ratio_popup()">Current Ratio<span class="popuptext" id="current_ratio_info" style="padding:20%">The ratio compares the current assets of a company with short-term debt. Short-term debt includes trade payables, notes payable, bank debt, salary debt, and other debts that must be paid immediately (Sutrisno, 2012).</span></div></div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"><div style="background-color:#DBDBE0; color:#DBDBE0">.</div></div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div style="width:100%; height:100%; border:2px solid white; background-color:white; border-radius: 5px; padding:2%">
              <h4 style="margin-bottom:20px;"><div class="popup" onclick="solvability_ratio_popup()">Solvability Ratio<span class="popuptext" id="solvability_ratio_info" style="padding:20%">This ratio is often also called the leverage ratio, which is the ratio used to measure the extent to which a company’s assets are financed by its debt (Hery, 2016).</span></h4>
              <div class="row" style="padding:1%">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="text-align:left"><div class="popup" onclick="debt_to_asset_popup()">Debt to Asset<span class="popuptext" id="debt_to_asset_info" style="padding:20%">Debt to asset measures how much the company’s assets are financed by its total debt. The higher this ratio, the greater of the amount of loan capital used to invest in assets, in order to generate profits for the company (Syamsuddin, 2006).</span></div></div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"><div style="background-color:#DBDBE0; color:#DBDBE0">.</div></div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
              </div>
              <div class="row" style="padding:1%">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="text-align:left"><div class="popup" onclick="debt_to_equity_popup()">Debt to Equity<span class="popuptext" id="debt_to_equity_info" style="padding:20%">This ratio is used to determine the amount of funds provided by the borrower (creditor) with the owner of the company. In other words, this ratio serves to know each dollar of its own capital used for debt guarantees (Kasmir, 2014).</span></div></div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"><div style="background-color:#DBDBE0; color:#DBDBE0">.</div></div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
              </div>
              <div class="row" style="padding:1%">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="text-align:left"><div class="popup" onclick="long_term_debt_to_equity_popup()">Long Term Debt to Equity<span class="popuptext" id="long_term_debt_to_equity_info" style="padding:20%">This ratio is used to measure the proportion of long-term debt to capital or equity. In other words, this ratio is used to measure what part of each Rupiah of capital or equity is used as a guarantee of long-term debt (Hery, 2016).</span></div></div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"><div style="background-color:#DBDBE0; color:#DBDBE0">.</div></div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
              </div>
              <div class="row" style="padding:1%">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="text-align:left"><div class="popup" onclick="coverage_ratio_popup()">Coverage Ratio<span class="popuptext" id="coverage_ratio_info" style="padding:20%">This ratio shows the company’s ability to pay off all its debts. The higher of this ratio, the company’s ability to pay its liabilities is good, and it is also of course will be a measure for the company to acquire additional new loans from creditors (Hery, 2016).</span></div></div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"><div style="background-color:#DBDBE0; color:#DBDBE0">.</div></div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>

    <div class="row text-center" style="margin-top:30px;">
      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
      <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div style="width:100%; height:100%; border:2px solid white; background-color:white; border-radius: 5px; padding:2%">
              <h4 style="margin-bottom:20px;"><div class="popup" onclick="profitability_ratio_popup()">Profitability Ratio<span class="popuptext" id="profitability_ratio_info" style="padding:20%">The ratio used to measure a company’s ability to generate profits from itrs normal business activities. This ratio is also known as the profitability ratio.</span></h4>
              <div class="row" style="padding:1%">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="text-align:left"><div class="popup" onclick="return_on_equity_popup()">Return on Equity<span class="popuptext" id="return_on_equity_info" style="padding:20%">The ratio shows how much the equity contribution in creating net income. The higher of this ratio, the higher of net profit generated from each Rupiah of funds embedded in equity (Hery, 2016).</span></div></div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"><div style="background-color:#DBDBE0; color:#DBDBE0">.</div></div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
              </div>
              <div class="row" style="padding:1%">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="text-align:left"><div class="popup" onclick="return_on_asset_popup()">Reeturn on Asset<span class="popuptext" id="return_on_asset_info" style="padding:20%">This ratio shows how much the contribution of assets in creating net income. The higher of this ratio, it means better for the company in managing its assets to earn net profit.</span></div></div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"><div style="background-color:#DBDBE0; color:#DBDBE0">.</div></div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
              </div>
              <div class="row" style="padding:1%">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="text-align:left"><div class="popup" onclick="gross_profit_margin_popup()">Gross Profit Margin<span class="popuptext" id="gross_profit_margin_info" style="padding:20%">The ratio that measures the efficiency of price control and the cost of production, indicates the company’s liability to produce efficiently (Sawir, 2009).</span></div></div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"><div style="background-color:#DBDBE0; color:#DBDBE0">.</div></div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
              </div>
              <div class="row" style="padding:1%">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="text-align:left"><div class="popup" onclick="operating_profit_margin_popup()">Operating Profit Margin<span class="popuptext" id="operating_profit_margin_info" style="padding:20%">The ratio used to measure the percentage of operating profit to net sales. The higher this ratio, the higher of operating profit generated from net sales. That is, the greater this ratio is better (Hery, 2016).</span></div></div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"><div style="background-color:#DBDBE0; color:#DBDBE0">.</div></div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
              </div>
              <div class="row" style="padding:1%">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="text-align:left"><div class="popup" onclick="net_profit_margin_popup()">Net Profit Margin<span class="popuptext" id="net_profit_margin_info" style="padding:20%">The ratio used to measure the percentage of net profit on net sales. The higher net profit margin means higher net income resulting from net sales (Hery, 2016).</span></div></div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"><div style="background-color:#DBDBE0; color:#DBDBE0">.</div></div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div style="width:100%; height:100%; border:2px solid white; background-color:white; border-radius: 5px; padding:2%">
              <h4 style="margin-bottom:20px;"><div class="popup" onclick="market_ratio_popup()">Market Ratio<span class="popuptext" id="market_ratio_info" style="padding:20%">The market ratio measures the market price of a company’s stock against its book value (Hanafi, 2004).</span></h4>
              <div class="row" style="padding:1%">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="text-align:left"><div class="popup" onclick="price_earning_ratio_popup()">Price Earning Ratio<span class="popuptext" id="price_earning_ratio_info" style="padding:20%">This ratio is one of the most basic measures in fundamental analysis. Easily, this ratio is to measure whether the company’s stock price is expensive or cheap. Preferably, this ratio is compared between PER firm A and B, to see which companies are cheaper or more expensive. Some stock market analysts, restricting low-cost firms if its PER is below 15x or average PER on the Indonesia Stock Exchange.</span></div></div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"><div style="background-color:#DBDBE0; color:#DBDBE0">.</div></div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
              </div>
              <div class="row" style="padding:1%">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="text-align:left"><div class="popup" onclick="price_to_book_value_popup()">Price to Book Value<span class="popuptext" id="price_to_book_value_info" style="padding:20%">This ratio is one measure to determine whether the stock price of an undervalued or overvalued company.</span></div></div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"><div style="background-color:#DBDBE0; color:#DBDBE0">.</div></div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
              </div>
              <div class="row" style="padding:1%">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="text-align:left"><div class="popup" onclick="dividend_per_share_popup()">Dividend per Share<span class="popuptext" id="dividend_per_share_info" style="padding:20%">The amount of the dividend distribution to be distributed to the shareholders after comparison with the weighted average of outstanding common stock (Susan, 2006).</span></div></div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"><div style="background-color:#DBDBE0; color:#DBDBE0">.</div></div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
              </div>
              <div class="row" style="padding:1%">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="text-align:left"><div class="popup" onclick="dividend_yield_popup()">Dividend Yield<span class="popuptext" id="dividend_yield_info" style="padding:20%">The size of the dividend policy is Dividend Yield, which links the dividend with the company’s stock price (Tatang, 2013).</span></div></div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"><div style="background-color:#DBDBE0; color:#DBDBE0">.</div></div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
              </div>
              <div class="row" style="padding:1%">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="text-align:left"><div class="popup" onclick="dividend_payout_ratio_popup()">Dividend Payout Ratio<span class="popuptext" id="dividend_payout_ratio_info" style="padding:20%">Ratio representing the amount of dividend proportion shared to the company’s net income (Muhardi, 2013)</span></div></div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"><div style="background-color:#DBDBE0; color:#DBDBE0">.</div></div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>

    <div class="row text-center" style="margin-top:30px;">
      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
      <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div style="width:100%; height:100%; border:2px solid white; background-color:white; border-radius: 5px; padding:2%">
              <h4 style="margin-bottom:20px;"><div class="popup" onclick="turnover_ratio_popup()">Turnover Ratio<span class="popuptext" id="turnover_ratio_info" style="padding:20%">Turnover Ratio is</span></h4>
              <div class="row" style="padding:1%">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="text-align:left"><div class="popup" onclick="total_asset_turnover_popup()">Total Asset Turnover<span class="popuptext" id="total_asset_turnover_info" style="padding:20%">This ratio is used to measure the total effectiveness of the company’s assets in generating sales.</span></div></div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"><div style="background-color:#DBDBE0; color:#DBDBE0">.</div></div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
              </div>
              <div class="row" style="padding:1%">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="text-align:left"><div class="popup" onclick="working_capital_turnover_popup()">Working Capital Turnover<span class="popuptext" id="working_capital_turnover_info" style="padding:20%">One of the ratios to measure or assess the effectiveness of the company’s working capital over a given period. That is, how much working capital spins over a period or in one period (Kasmir, 2011).</span></div></div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"><div style="background-color:#DBDBE0; color:#DBDBE0">.</div></div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
              </div>
              <div class="row" style="padding:1%">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="text-align:left"><div class="popup" onclick="fixed_asset_turnover_popup()">Fixed Asset Turnover<span class="popuptext" id="fixed_asset_turnover_info" style="padding:20%">This ratio is used to measure the effectiveness of the company’s fixed assets in generating sales or in other words to measure how effectively the capacity of fixed assets contributes to the creation of sales (Hery, 2016).</span></div></div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"><div style="background-color:#DBDBE0; color:#DBDBE0">.</div></div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
              </div>
              <div class="row" style="padding:1%">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="text-align:left"><div class="popup" onclick="inventory_turnover_popup()">Inventory Turnover<span class="popuptext" id="inventory_turnover_info" style="padding:20%">This ratio is used to measure how many times the funds embedded in inventory will spin in a period or how long (in days) the average inventory is stored in the warehouse until it is finally sold (Hery, 2016).</span></div></div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"><div style="background-color:#DBDBE0; color:#DBDBE0">.</div></div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"></div>
        </div>
      </div>
      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>

  </div>

</diV>


{% endblock %}
