{% extends 'financialperformance/base.html' %}

{% block content %}

<div class="container-fluid" >

  <div style="margin-top:20px; margin-left:20px; margin-right:20px;">

    <h2 style="width:bold; color:black">Analysis Financial Performance</h2>
    <h3 style="color:#535B68">The Following is the level of performance of a bussiness over a specified period of time</h3>

    <div class="row text-center" style="margin-top:10px; padding:0.9%">
      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
      <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding:0px; margin:0px;">
        <form method="GET" action="{% url 'company_analysis_url' %}">
          <select class="js-example-basic-single js-states form-control" name="q" style="width:70%;">
            <option></option>
            {% for financialdata in financialdata %}
              <option value="{{ financialdata.company.company_code }}">{{ financialdata.company.company_name }} ({{ financialdata.company.company_code }}) - {{ financialdata.company.company_sector.sector_name }}</option>
            {% endfor%}
          </select>
          <button class="btn-save btn btn-primary btn-sm">Analyze</button>
        </form>
      </div>
      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>

    <div class="row text-center" style="margin-top:30px;">
      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
      <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
        <div style="width:100%; height:100%; border:2px solid white; background-color:white; border-radius: 5px; padding:2%">
          <h4 style="margin-bottom:30px;">Financial performance of {{ companyfilter.company.company_name }} 2017</h4>
          <div class="row" style="padding-left:2%; padding-right:2%">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <div class="row" style="padding:1%">
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" style="text-align:left"><div class="popup" onclick="cash_popup()">Cash<span class="popuptext" id="cash_info" style="padding:20%">Cash is</span></div></div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12"><div style="background-color:#DBDBE0; color:#DBDBE0">.</div></div>
              </div>
              <div class="row" style="padding:1%">
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" style="text-align:left"><div class="popup" onclick="inventory_popup()">Inventory<span class="popuptext" id="inventory_info" style="padding:20%">Inventory is</span></div></div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12"><div style="background-color:#DBDBE0; color:#DBDBE0">.</div></div>
              </div>
              <div class="row" style="padding:1%">
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" style="text-align:left"><div class="popup" onclick="current_asset_popup()">Current Asset<span class="popuptext" id="current_asset_info" style="padding:20%">Current Asset is</span></div></div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12"><div style="background-color:#DBDBE0; color:#DBDBE0">.</div></div>
              </div>
              <div class="row" style="padding:1%">
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" style="text-align:left"><div class="popup" onclick="fixed_asset_popup()">Fixed Asset<span class="popuptext" id="fixed_asset_info" style="padding:20%">Fixed Asset is</span></div></div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12"><div style="background-color:#DBDBE0; color:#DBDBE0">.</div></div>
              </div>
              <div class="row" style="padding:1%">
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" style="text-align:left"><div class="popup" onclick="total_asset_popup()">Total Asset<span class="popuptext" id="total_asset_info" style="padding:20%">Total asset is</span></div></div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12"><div style="background-color:#DBDBE0; color:#DBDBE0">.</div></div>
              </div>
              <div class="row" style="padding:1%">
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" style="text-align:left"><div class="popup" onclick="current_liabilities_popup()">Current Liabilities<span class="popuptext" id="current_liabilities_info" style="padding:20%">Current Liabilities is</span></div></div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12"><div style="background-color:#DBDBE0; color:#DBDBE0">.</div></div>
              </div>
              <div class="row" style="padding:1%">
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" style="text-align:left"><div class="popup" onclick="long_term_liabilities_popup()">Long Term Liabilities<span class="popuptext" id="long_term_liabilities_info" style="padding:20%">Long Term Liabilities is</span></div></div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12"><div style="background-color:#DBDBE0; color:#DBDBE0">.</div></div>
              </div>
              <div class="row" style="padding:1%">
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" style="text-align:left"><div class="popup" onclick="total_liabilities_popup()">Total Liabilities<span class="popuptext" id="total_liabilities_info" style="padding:20%">Total Liabilities is</span></div></div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12"><div style="background-color:#DBDBE0; color:#DBDBE0">.</div></div>
              </div>
              <div class="row" style="padding:1%">
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" style="text-align:left"><div class="popup" onclick="outstanding_share_popup()">Outstanding Share<span class="popuptext" id="outstanding_share_info" style="padding:20%">Outstanding Share is</span></div></div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12"><div style="background-color:#DBDBE0; color:#DBDBE0">.</div></div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <div class="row" style="padding:1%">
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" style="text-align:left"><div class="popup" onclick="total_equity_popup()">Total Equity<span class="popuptext" id="total_equity_info" style="padding:20%">Total Equity is</span></div></div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12"><div style="background-color:#DBDBE0; color:#DBDBE0">.</div></div>
              </div>
              <div class="row" style="padding:1%">
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" style="text-align:left"><div class="popup" onclick="total_revenue_popup()">Total Revenue<span class="popuptext" id="total_revenue_info" style="padding:20%">Total Revenue is</span></div></div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12"><div style="background-color:#DBDBE0; color:#DBDBE0">.</div></div>
              </div>
              <div class="row" style="padding:1%">
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" style="text-align:left"><div class="popup" onclick="gross_profit_popup()">Gross Profit<span class="popuptext" id="gross_profit_info" style="padding:20%">Gross Profit is</span></div></div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12"><div style="background-color:#DBDBE0; color:#DBDBE0">.</div></div>
              </div>
              <div class="row" style="padding:1%">
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" style="text-align:left"><div class="popup" onclick="operating_profit_popup()">Operating Profit<span class="popuptext" id="operating_profit_info" style="padding:20%">Operating Profit is</span></div></div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12"><div style="background-color:#DBDBE0; color:#DBDBE0">.</div></div>
              </div>
              <div class="row" style="padding:1%">
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" style="text-align:left"><div class="popup" onclick="interest_expense_popup()">Interest Expense<span class="popuptext" id="interest_expense_info" style="padding:20%">Interest Expense is</span></div></div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12"><div style="background-color:#DBDBE0; color:#DBDBE0">.</div></div>
              </div>
              <div class="row" style="padding:1%">
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" style="text-align:left"><div class="popup" onclick="net_profit_popup()">Net Profit<span class="popuptext" id="net_profit_info" style="padding:20%">Net Profit is</span></div></div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12"><div style="background-color:#DBDBE0; color:#DBDBE0">.</div></div>
              </div>
              <div class="row" style="padding:1%">
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" style="text-align:left"><div class="popup" onclick="earnings_per_share_popup()">Earning per Share<span class="popuptext" id="earnings_per_share_info" style="padding:20%">Earning per Share is</span></div></div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12"><div style="background-color:#DBDBE0; color:#DBDBE0">.</div></div>
              </div>
              <div class="row" style="padding:1%">
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" style="text-align:left"><div class="popup" onclick="dividend_payment_popup()">Dividend Payment<span class="popuptext" id="dividend_payment_info" style="padding:20%">Dividend Payment is</span></div></div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12"><div style="background-color:#DBDBE0; color:#DBDBE0">.</div></div>
              </div>
              <div class="row" style="padding:1%">
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" style="text-align:left"><div class="popup" onclick="stock_price_popup()">Stock Price<span class="popuptext" id="stock_price_info" style="padding:20%">Stock Price is</span></div></div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12"><div style="background-color:#DBDBE0; color:#DBDBE0">.</div></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>

    <div class="row text-center" style="margin-top:30px;">
      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
      <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div style="width:100%; height:100%; border:2px solid white; background-color:white; border-radius: 5px; padding:2%">
              <h4 style="margin-bottom:20px;"><div class="popup" onclick="liquidity_ratio_popup()">Liquidity Ratio<span class="popuptext" id="liquidity_ratio_info" style="padding:20%">Liquidity Ratio is</span></h4>
              <div class="row" style="padding:1%">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="text-align:left"><div class="popup" onclick="cash_ratio_popup()">Cash Ratio<span class="popuptext" id="cash_ratio_info" style="padding:20%">Cash Ratio is</span></div></div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"><div style="background-color:#DBDBE0; color:#DBDBE0">.</div></div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
              </div>
              <div class="row" style="padding:1%">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="text-align:left"><div class="popup" onclick="quick_acid_ratio_popup()">Quick Acid Ratio<span class="popuptext" id="quick_acid_ratio_info" style="padding:20%">Quick Acid Ratio is</span></div></div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"><div style="background-color:#DBDBE0; color:#DBDBE0">.</div></div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
              </div>
              <div class="row" style="padding:1%">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="text-align:left"><div class="popup" onclick="current_ratio_popup()">Current Ratio<span class="popuptext" id="current_ratio_info" style="padding:20%">Current Ratio is</span></div></div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"><div style="background-color:#DBDBE0; color:#DBDBE0">.</div></div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div style="width:100%; height:100%; border:2px solid white; background-color:white; border-radius: 5px; padding:2%">
              <h4 style="margin-bottom:20px;"><div class="popup" onclick="solvability_ratio_popup()">Solvability Ratio<span class="popuptext" id="solvability_ratio_info" style="padding:20%">Solvability Ratio is</span></h4>
              <div class="row" style="padding:1%">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="text-align:left"><div class="popup" onclick="debt_to_asset_popup()">Debt to Asset<span class="popuptext" id="debt_to_asset_info" style="padding:20%">Debt to Asset is</span></div></div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"><div style="background-color:#DBDBE0; color:#DBDBE0">.</div></div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
              </div>
              <div class="row" style="padding:1%">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="text-align:left"><div class="popup" onclick="debt_to_equity_popup()">Debt to Equity<span class="popuptext" id="debt_to_equity_info" style="padding:20%">Debt to Equity is</span></div></div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"><div style="background-color:#DBDBE0; color:#DBDBE0">.</div></div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
              </div>
              <div class="row" style="padding:1%">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="text-align:left"><div class="popup" onclick="long_term_debt_to_equity_popup()">Long Term Debt to Equity<span class="popuptext" id="long_term_debt_to_equity_info" style="padding:20%">Long Term Debt to Equity is</span></div></div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"><div style="background-color:#DBDBE0; color:#DBDBE0">.</div></div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
              </div>
              <div class="row" style="padding:1%">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="text-align:left"><div class="popup" onclick="coverage_ratio_popup()">Coverage Ratio<span class="popuptext" id="coverage_ratio_info" style="padding:20%">Coverage Ratio is</span></div></div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"><div style="background-color:#DBDBE0; color:#DBDBE0">.</div></div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>

    <div class="row text-center" style="margin-top:30px;">
      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
      <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div style="width:100%; height:100%; border:2px solid white; background-color:white; border-radius: 5px; padding:2%">
              <h4 style="margin-bottom:20px;"><div class="popup" onclick="profitability_ratio_popup()">Profitability Ratio<span class="popuptext" id="profitability_ratio_info" style="padding:20%">Profitability Ratio is</span></h4>
              <div class="row" style="padding:1%">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="text-align:left"><div class="popup" onclick="return_on_equity_popup()">Return on Equity<span class="popuptext" id="return_on_equity_info" style="padding:20%">Return on Equity is</span></div></div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"><div style="background-color:#DBDBE0; color:#DBDBE0">.</div></div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
              </div>
              <div class="row" style="padding:1%">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="text-align:left"><div class="popup" onclick="return_on_asset_popup()">Reeturn on Asset<span class="popuptext" id="return_on_asset_info" style="padding:20%">Return on Asset is</span></div></div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"><div style="background-color:#DBDBE0; color:#DBDBE0">.</div></div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
              </div>
              <div class="row" style="padding:1%">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="text-align:left"><div class="popup" onclick="gross_profit_margin_popup()">Gross Profit Margin<span class="popuptext" id="gross_profit_margin_info" style="padding:20%">Gross Profit Margin is</span></div></div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"><div style="background-color:#DBDBE0; color:#DBDBE0">.</div></div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
              </div>
              <div class="row" style="padding:1%">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="text-align:left"><div class="popup" onclick="operating_profit_margin_popup()">Operating Profit Margin<span class="popuptext" id="operating_profit_margin_info" style="padding:20%">Operating Profit Margin is</span></div></div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"><div style="background-color:#DBDBE0; color:#DBDBE0">.</div></div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
              </div>
              <div class="row" style="padding:1%">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="text-align:left"><div class="popup" onclick="net_profit_margin_popup()">Net Profit Margin<span class="popuptext" id="net_profit_margin_info" style="padding:20%">Net Profit Margin is</span></div></div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"><div style="background-color:#DBDBE0; color:#DBDBE0">.</div></div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div style="width:100%; height:100%; border:2px solid white; background-color:white; border-radius: 5px; padding:2%">
              <h4 style="margin-bottom:20px;"><div class="popup" onclick="market_ratio_popup()">Market Ratio<span class="popuptext" id="market_ratio_info" style="padding:20%">Market Ratio is</span></h4>
              <div class="row" style="padding:1%">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="text-align:left"><div class="popup" onclick="price_earning_ratio_popup()">Price Earning Ratio<span class="popuptext" id="price_earning_ratio_info" style="padding:20%">Price Earning Ratio is</span></div></div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"><div style="background-color:#DBDBE0; color:#DBDBE0">.</div></div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
              </div>
              <div class="row" style="padding:1%">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="text-align:left"><div class="popup" onclick="price_to_book_value_popup()">Price to Book Value<span class="popuptext" id="price_to_book_value_info" style="padding:20%">Price to Book Value is</span></div></div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"><div style="background-color:#DBDBE0; color:#DBDBE0">.</div></div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
              </div>
              <div class="row" style="padding:1%">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="text-align:left"><div class="popup" onclick="dividend_per_share_popup()">Dividend per Share<span class="popuptext" id="dividend_per_share_info" style="padding:20%">Dividend per Share is</span></div></div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"><div style="background-color:#DBDBE0; color:#DBDBE0">.</div></div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
              </div>
              <div class="row" style="padding:1%">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="text-align:left"><div class="popup" onclick="dividend_yield_popup()">Dividend Yield<span class="popuptext" id="dividend_yield_info" style="padding:20%">Dividend Yield is</span></div></div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"><div style="background-color:#DBDBE0; color:#DBDBE0">.</div></div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
              </div>
              <div class="row" style="padding:1%">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="text-align:left"><div class="popup" onclick="dividend_payout_ratio_popup()">Dividend Payout Ratio<span class="popuptext" id="dividend_payout_ratio_info" style="padding:20%">Dividend Payout Ratio is</span></div></div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"><div style="background-color:#DBDBE0; color:#DBDBE0">.</div></div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>

    <div class="row text-center" style="margin-top:30px;">
      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
      <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div style="width:100%; height:100%; border:2px solid white; background-color:white; border-radius: 5px; padding:2%">
              <h4 style="margin-bottom:20px;"><div class="popup" onclick="turnover_ratio_popup()">Turnover Ratio<span class="popuptext" id="turnover_ratio_info" style="padding:20%">Turnover Ratio is</span></h4>
              <div class="row" style="padding:1%">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="text-align:left"><div class="popup" onclick="total_asset_turnover_popup()">Total Asset Turnover<span class="popuptext" id="total_asset_turnover_info" style="padding:20%">Total Asset Turnover is</span></div></div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"><div style="background-color:#DBDBE0; color:#DBDBE0">.</div></div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
              </div>
              <div class="row" style="padding:1%">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="text-align:left"><div class="popup" onclick="working_capital_turnover_popup()">Working Capital Turnover<span class="popuptext" id="working_capital_turnover_info" style="padding:20%">Working Capital Turnover is</span></div></div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"><div style="background-color:#DBDBE0; color:#DBDBE0">.</div></div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
              </div>
              <div class="row" style="padding:1%">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="text-align:left"><div class="popup" onclick="fixed_asset_turnover_popup()">Fixed Asset Turnover<span class="popuptext" id="fixed_asset_turnover_info" style="padding:20%">Fixed Asset Turnover is</span></div></div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"><div style="background-color:#DBDBE0; color:#DBDBE0">.</div></div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
              </div>
              <div class="row" style="padding:1%">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="text-align:left"><div class="popup" onclick="inventory_turnover_popup()">Inventory Turnover<span class="popuptext" id="inventory_turnover_info" style="padding:20%">Inventory Turnover is</span></div></div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"><div style="background-color:#DBDBE0; color:#DBDBE0">.</div></div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"></div>
        </div>
      </div>
      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>

  </div>

</diV>


{% endblock %}
