{% extends 'financialperformance/base.html' %}

{% block content %}

<div class="container-fluid" >

  <div style="margin-top:20px; margin-left:20px; margin-right:20px;">

    <h2 style="width:bold; color:black">Dashboard</h2>
    <h3 style="color:#535B68">Financial Performance</h3>

    <div class="row text-center">
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="padding:10px">
        <a href="{% url 'company_dashboard_url' %}" class="btn btn-default" id="cake-menu">
          <div class="row" style="padding:30px;">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
              <h2 style="font-weight:bold;"><strong>{{ companydata.count }}</strong></h2>
              <h3>Company</h3>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="padding:10px;">
              <i class="glyphicon glyphicon-home" style="color:#48dbfb; font-size:60px;"></i>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="padding:10px">
        <a href="{% url 'sector_dashboard_url' %}" class="btn btn-default" id="cake-menu">
          <div class="row" style="padding:30px;">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
              <h2 style="font-weight:bold;"><strong>{{ sectordata.count }}</strong></h2>
              <h3>Sector</strong></h3>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="padding:10px;">
              <i class="glyphicon glyphicon-th" style="color:#48dbfb; font-size:60px;"></i>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="padding:10px">
        <div style="width:100%; height:100%; border:2px solid white; background-color:white; border-radius: 5px; padding:2%">
          <div class="row" style="padding:30px;">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
              <h2 style="font-weight:bold;"><strong>2017</strong></h2>
              <h3>Period</h3>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="padding:10px;">
              <i class="glyphicon glyphicon-calendar" style="color:green; font-size:60px;"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row" style="margin-top:30px; margin-bottom:30px;">
      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9"></div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
        <div class="row inline-block" style="float:right; padding-right:10px;">
          <div style="width:50px; height:70px; background-color:#FBC531; text-align:center"></div>
          <div style="width:300px; height:70px; background-color:#00E9F8; text-align:center">
            <h3 style="color:#F5F6FA; font-famili:roboto; font-weight:bold; font-size:38px">COMPANY</H3>
          </div>
        </div>
      </div>
    </div>

    <div style="margin-bottom:30px;">
      <h3 style="color:black;">This website can compare the performance of 45 companies incorporated in the LQ45 Index. The list of companies is as follows:</h3>
    </div>

    {% for companylist in companylist %}
    <div class="row" style="padding:10px;">
      <div style="width:100%; height:100%; border:2px solid white; background-color:white; border-radius: 5px;">
        <div style="width:50px; height:50px; border:2px solid white; {% if forloop.counter == 1 %} background-color:#FBC531 {% elif forloop.counter == 2 %} background-color:#487EB0 {% elif forloop.counter == 3 %} background-color:#E84118 {% elif forloop.counter == 4 %} background-color:#05c46b {% else %} background-color:#4bcffa {% endif %}; border-radius: 5px;">
          <h3 style="color:white; text-align:center"><strong>{{ forloop.counter }}</strong></h3>
        </div>
        <div style="text-align:center; margin-bottom:30px;">
          <h5><strong> {{ companylist.company_name|upper }} </strong></h5>
        </div>
        <div class="row" style="padding:10px; margin-bottom:20px;">
          <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style="text-align:center; padding:30px;"><img src="{{ companylist.company_logo.url }}" style="width:200px; text-align:center"></img></div>
          <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7" style="text-align:justify; padding:30px;"><p>{{ companylist.company_desc }}</p></div>
          <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        </div>
      </div>
    </div>
    {% endfor %}

    <ul class="pagination pagination-lg justify-content-center" style="margin-top:40px;">
      {% if companylist.has_previous %}
        <li class="page-item"><a class="page-link" href="?page=1">&laquo;</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ companylist.previous_page_number }}">Previous</a></li>
      {% endif %}

      <li class="page-item active"><a class="page-link" href="#">Page {{ companylist.number }} of {{ companylist.paginator.num_pages }}</a></li>

      {% if companylist.has_next %}
       <li class="page-item"><a class="page-link" href="?page={{ companylist.next_page_number }}">Next</a></li>
       <li class="page-item"><a class="page-link" href="?page={{ companylist.paginator.num_pages }}">&raquo;</a></li>
      {% endif %}
    </ul>

  </diV>

</div>

{% endblock %}
