{% extends 'financialperformance/base.html' %}

{% block content %}

<div class="container-fluid" >

  <div style="margin-top:20px; margin-left:20px; margin-right:20px;">

    <h2 style="width:bold; color:black">Comparison Financial Performance</h2>
    <h3 style="color:#535B68; font-size:24px;" >On this page you can do comparisons between companies.
      Please search and then choose several companies that will be compared in the search
      column below.</h3>

    <div class="row text-center" style="margin-top:10px; padding:0.9%">
      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
      <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
        <form method="GET" action="{% url 'company_comparison_url' %}">
          <select class="js-example-basic-multiple" name="q" multiple="multiple"  style="width:70%;">
            {% for financialdata in financialdata %}
              <option value="{{ financialdata.company.company_code }}">{{ financialdata.company.company_name }} ({{ financialdata.company.company_code }}) - {{ financialdata.company.company_sector.sector_name }}</option>
            {% endfor%}
          </select>
          <button class="btn-save btn btn-primary btn-sm">Compare</button>
        </form>
      </div>
      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>



  </diV>

</div>

{% endblock %}
