{% extends 'financialperformance/base.html' %}

{% block content %}

<div class="container-fluid" >

  <div style="margin-top:20px; margin-left:20px; margin-right:20px;">

    <h2 style="width:bold; color:black">Dashboard</h2>
    <h3 style="color:#535B68">Financial Performance</h3>

    <div class="row text-center">
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="padding:10px">
        <a href="{% url 'company_dashboard_url' %}" class="btn btn-default" id="cake-menu">
          <div class="row" style="padding:20px;">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
              <h1 style="font-weight:bold;"><strong>{{ companydata.count }}</strong></h1>
              <h2><strong>Company</strong></h2>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="padding:10px;">
              <i class="glyphicon glyphicon-home" style="color:#48dbfb; font-size:70px;"></i>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="padding:10px">
        <a href="{% url 'sector_dashboard_url' %}" class="btn btn-default" id="cake-menu">
          <div class="row" style="padding:20px;">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
              <h1 style="font-weight:bold;"><strong>{{ sectordata.count }}</strong></h1>
              <h2><strong>Sector</strong></h2>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="padding:10px;">
              <i class="glyphicon glyphicon-th" style="color:#48dbfb; font-size:70px;"></i>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="padding:10px">
        <div style="width:100%; height:100%; border:2px solid white; background-color:white; border-radius: 5px; padding:2%">
          <div class="row" style="padding:20px;">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
              <h1 style="font-weight:bold;"><strong>2017</strong></h1>
              <h2><strong>Period</strong></h2>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="padding:10px;">
              <i class="glyphicon glyphicon-calendar" style="color:green; font-size:70px;"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row" style="padding:10px;">
      <div style="width:100%; height:100%; border:2px solid white; background-color:white; border-radius: 5px; padding:1%;">
        <div style="width:100%; height:50px; border:2px solid white; background-color:#0abde3; border-radius: 5px;">
          <h3 style="color:white; margin-left:20px;"><strong>WHAT IS THIS?</strong></h3>
        </div>
        <div style="margin-top:20px; padding-left:30px; padding-right:30px;">
          <p style="font-size:17px; text-align:justify;">This website is a website that aims to help long-term investors in
            determining which companies to buy shares. Long-term stock investors are investors who invest capital in a company
            with a minimum period of one year. The analytical method used is a fundamental analysis which is intended for long-term stock investors.
            The fundamental analysis method used in this application is an analysis of the company's annual financial performance.
            Financial performance analysis consists of two types, namely the analysis of individual financial performance of the company and
            the comparative analysis of financial performance between companies. The data used on this website comes from the annual
            financial statements of 45 companies in Indonesia that are included in the LQ45 index list of nine sectors.</p>
        </div>
      </div>
    </div>

    <div class="row" style="padding:10px; font-size:17px;">
      <div style="width:100%; height:100%; border:2px solid white; background-color:white; border-radius: 5px; padding:1%;">
        <div style="width:100%; height:50px; border:2px solid white; background-color:#c23616; border-radius: 5px;">
          <h3 style="color:white; margin-left:20px;"><strong>INDEX LQ45</strong></h3>
        </div>
        <div style="margin-top:20px; padding-left:30px; padding-right:30px;">
          <p style="text-align:justify;">An index consisting of 45 shares of a Listed Company selected based on consideration of
            liquidity and market capitalization, with criteria that have been determined. The criteria are as follows:</p>
          <ol style="padding-left:30px; padding-right:30px;">
            <li>Included in the top 60 companies with the highest market capitalization in the last 1-2 months</li>
            <li>Included in the top 60 companies with the highest transaction value in the regular market in the 12 months</li>
            <li>Has been listed on the Indonesia Stock Exchange for at least three months</li>
            <li>Having high financial conditions, growth prospects and transaction value</li>
          </ol>
          <p style="text-align:justify;">Stock reviews and replacements are conducted every six months.</p>
        </div>
      </div>
    </div>

    <div class="row" style="padding:10px; font-size:17px;">
      <div style="width:100%; height:100%; border:2px solid white; background-color:white; border-radius: 5px; padding:1%;">
        <div style="width:100%; height:50px; border:2px solid white; background-color:#e1b12c; border-radius: 5px;">
          <h3 style="color:white; margin-left:20px;"><strong>ANALYSIS</strong></h3>
        </div>
        <div style="margin-top:20px; padding-left:30px; padding-right:30px;">
          <p style="text-align:justify;">The analytical method used is fundamental analysis where the application is intended for long-term
            stock investors. Long-term stock investors are investors who invest capital in a company with a minimum period of one year.
            The fundamental analysis method used in this application is an analysis of the company's annual financial performance.
            With this analysis method, investors are expected to be able to compare and invest in companies that have the best annual
            financial performance. Financial performance analysis consists of two types, namely the analysis of individual financial
            performance of the company and the comparative analysis of financial performance between companies. Therefore,
            this web has two main features, namely an Analysis Financial Performance and a Comparison Financial Performance.</p>
          <ol style="padding-left:30px; padding-right:30px;">
            <li><strong>Analysis Financial Performance</strong></li>
              <p>To calculate company performance, several variables are needed, there are: Cash, Inventory, Current Asset, Fixed Asset, Total Asset,
                Current Liabilities, Long Term Liabilities, Total Liabilities, Outstanding Share, Total Equity, Total Revenue, Gross Profit,
                Operating Profit or EBIT, Interest Expense, Net Profit, Earnings per Share, Dividend Payment, and Stock Price (Close Year).
                Of all the variables obtained, it is used to calculate the performance indicators of financial statements that include:
                Liquidity Ratio, Solvability Ratio, Profitability Ratio, Market Ratio, and Turnover Ratio. </p>
              <ul style="list-style-type:disc; padding-left:20px; margin-bottom:20px;">
                <li><strong>Liquidity Ratio</strong> includes Cash Ratio, Quick Acid Ratio and Current Ratio. </li>
                <li><strong>Solvability Ratio</strong> includes Dept to Asset, Debt to Equity, Long-term Debt to Equity and Coverage Ratio.</li>
                <li><strong>Profitability Ratio</strong> includes Return on Equity, Return on Asset, Gross Profit Margin, Operating Profit Margin and Net Profit Margin.</li>
                <li><strong>Market Ratio</strong> includes Price Earning Ratio, Price to Book Value, Dividen per Share, Dividen Yield and Dividen Payout Ratio. </li>
                <li><strong>Turnover Ratio</strong> includes Total Asset Turnover, Working Capital Turnover, Fixed Asset Turnover, and Inventory Turnover.</li>
              </ul>
            <li><strong>Perbandingan Kinerja Perusahaan.</strong></li>
              <p>To calculate the comparison of company performance, several variables are also needed which consist of Current Asset, Current Liabilities,
                Total Liabilities, Outstanding Share, Total Equity, Total Revenue, Operating Profit or EBIT, Net Profit, Earnings per Share, Dividend Payment,
                and Stock Price (Close Year).  From all variables obtained, it is used to calculate the performance indicators of financial statements so
                that for comparisons between companies. Financial report performance indicators for comparisons between LQ45 companies include :</p>
              <ul style="list-style-type:disc; padding-left:20px; margin-bottom:20px;">
                <li><strong>Liquidity Ratio</strong> uses Current Ratio.</li>
                <li><strong>Solvability Ratio</strong> uses Debt to Equity.</li>
                <li><strong>Profitability Ratio</strong> uses Return on Equity, Operating Profit Margin and Net Profit Margin.</li>
                <li><strong>Market Ratio</strong> uses Price Earning Ratio and Dividen Yield.</li>
              </ul>
          </ol>

        </div>
      </div>
    </div>

  </diV>

</div>

{% endblock %}
