{% extends 'financialperformance/base.html' %}

{% block content %}

<div class="container-fluid" >

  <div style="margin-top:20px; margin-left:20px; margin-right:20px;">

    <h2 style="width:bold; color:black">Dashboard</h2>
    <h3 style="color:#535B68">Financial Performance</h3>

    <div class="row text-center">
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="padding:10px">
        <a href="{% url 'company_dashboard_url' %}" class="btn btn-default" id="cake-menu">
          <div class="row" style="padding:20px;">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
              <h1 style="font-weight:bold;"><strong>{{ companydata.count }}</strong></h1>
              <h2><strong>Company</strong></h2>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="padding:10px;">
              <i class="glyphicon glyphicon-home" style="color:#48dbfb; font-size:70px;"></i>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="padding:10px">
        <a href="{% url 'sector_dashboard_url' %}" class="btn btn-default" id="cake-menu">
          <div class="row" style="padding:20px;">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
              <h1 style="font-weight:bold;"><strong>{{ sectordata.count }}</strong></h1>
              <h2><strong>Sector</strong></h2>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="padding:10px;">
              <i class="glyphicon glyphicon-th" style="color:#48dbfb; font-size:70px;"></i>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="padding:10px">
        <div style="width:100%; height:100%; border:2px solid white; background-color:white; border-radius: 5px; padding:2%">
          <div class="row" style="padding:20px;">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
              <h1 style="font-weight:bold;"><strong>2017</strong></h1>
              <h2><strong>Period</strong></h2>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="padding:10px;">
              <i class="glyphicon glyphicon-calendar" style="color:green; font-size:70px;"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row" style="padding:10px;">
      <div style="width:100%; height:500px; border:2px solid white; background-color:white; border-radius: 5px; padding:1%;">
        <div style="width:100%; height:50px; border:2px solid white; background-color:#16a085; border-radius: 5px;">
          <h3 style="color:white; margin-left:20px;"><strong>SECTOR</strong></h3>
        </div>
      </div>
    </div>

  </diV>

</div>

{% endblock %}
